[Desktop Entry]
Version=1.0
Name=Seeing Sound
Comment=Audio visualizer for LIFX lights
Exec=/usr/bin/env poetry run seeing-sound-gui
Path=/home/unclmike/src/seeing-sound
Terminal=false
Type=Application
EntryType=Application
StartupNotify=true
Categories=Utility;AudioVideo;
Icon=utilities-terminal
